<!doctype html>
   
<head>
    <title>Bureau</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bureau.css') }}">

</head>
<body>

<h1 align="center">Bureau</h1>

<div id="main_div"> 

    <div class="buttons_div"> 
        <div class="center">  
            <a href="/toggle_yeelight/0"><button type="button">Toggle Bureau</button></a>        
            <a href="/toggle_yeelight/1"><button type="button">Toggle Bureau Etagère</button></a>
            <a href="/toggle_yeelight/2"><button type="button">Toggle All Bureau</button></a> 
            <br>   
            <br>   
            <div>
                <input type="color" id="rgb" value="#ffffff">
            </div>   
            
    <script>
    
        var colorPicker = document.getElementById("rgb");
        colorPicker.addEventListener("change", watchColorPicker, false);
    
        function watchColorPicker(event)
        {
            var req = new XMLHttpRequest();
            var rgb_col = document.getElementById("rgb").value;
            var url = "/start_color_cycle_yeelight/2/" + rgb_col.slice(1);
            req.open("GET", url, true);
            req.send(null);
        }
    
    </script>     
            <br> 
            <a href="/"><button type="button">Retour</button></a> 
        </div>
    </div>

</body>
</html>


