<!doctype html>
<head>
    <title>Bureau</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bureau.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/bureau.js') }}"></script>
    
</head>
<body>
    <div id="container">
        <div>
            <button type="button" onclick="toggle_bureau()">Allumer le Bureau</button>  
            <input type="color" id="rgb" value="#ffffff">
            <script>
                var colorPicker = document.getElementById("rgb");
                colorPicker.addEventListener("change", watchColorPicker, false);
            </script>
        </div>        
    </div> 
    <div id="clock_div">
        <canvas id="canvas" width="200" height="200"
            style="background-color:#89c5cd">   
        </canvas>
        <script>
            var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext("2d");
            var radius = canvas.height / 2;
            ctx.translate(radius, radius);
            radius = radius * 0.90
            setInterval(drawClock, 1000);
        </script>
    </div>
    <div id="door_div">
        <a href="\">
            <img src="static\img\door.png" alt="Retour" title="Retour">
        </a>
    </div>
    <div title="Lumière trépied" id="bulb_div_0"></div>
    <div title="Lumière étagère" id="bulb_div_1"></div>
       
</body>
 
</div> 
</html>
