<!doctype html>
   
<head>
    <title>Projet Domotique</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/server.css') }}">

</head>
<body>

<h1 align="center">Hello, Machete!</h1>


<div id="main_div"> 

    <div class="buttons_div"> 
        <div class="center">  
            
            <a href="/bureau"><button type="button">Bureau</button></a> 
            <br>
            <br>
            <a href="/test_page"><button type="button">Page TEST</button></a> 
            <br>
            <br>
            <a href="/new"><button type="button">Page NEW</button></a>
            <br>
        </div>
    </div>


</body>

  

</html>


