<!doctype html>
   
<head>
    <title>Projet Domotique</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/server.css') }}">

</head>
<body>

<h1>Hello, Machete!</h1>


<div id="main_div"> 

    <div class="buttons_div">    

        <a href="/toggle_yeelight/0"><button type="button">Toggle Bureau</button></a>
    </div>

    <div class="buttons_div"> 
        
        <a href="/toggle_yeelight/1"><button type="button">Toggle Bureau Etagère</button></a>
    </div>

    <div class="buttons_div"> 

        <a href="/toggle_yeelight/2"><button type="button">Toggle All Bureau</button></a>        
    </div>

        <a href="/test_page"><button type="button">Page TEST</button></a>    

</div>



</body>

  

</html>


