<!doctype html>
<html>    
<head>
<title>Projet Domotique</title>
</head>
<body>

<h1>Hello, Machete!</h1>


<p align="center">
<a href="/start_yeelight/0"><button type="button">On Bureau </button></a>
<a href="/stop_yeelight/0"><button type="button">Off Bureau</button></a>
<a href="/toggle_yeelight/0"><button type="button">Toggle Bureau</button></a>

<br>
<br>
<br>
<br>
<a href="/start_yeelight/1"><button type="button">On Bureau Etagère</button></a>
<a href="/stop_yeelight/1"><button type="button">Off Bureau Etagère</button></a>
<a href="/toggle_yeelight/1"><button type="button">Toggle Bureau Etagère</button></a>
</p>


<a href="/toggle_yeelight/2"><button type="button">Toggle All Bureau</button></a>

<br>
<br>
<h1>TEST</h1>
<br>
<br>

<a href="/start_color_cycle_yeelight/0"><button type="button">Cycle Bureau</button></a>
<a href="/start_color_cycle_yeelight/1"><button type="button">Cycle Bureau Etagère</button></a>
<a href="/start_color_cycle_yeelight/2"><button type="button">Cycle All Bureau</button></a>
<br>
<br>
<a href="/stop_color_cycle_yeelight/0"><button type="button">Stop Cycle Bureau</button></a>
<a href="/stop_color_cycle_yeelight/1"><button type="button">Stop Cycle Bureau Etagère</button></a>
<a href="/stop_color_cycle_yeelight/2"><button type="button">Stop Cycle All Bureau</button></a>

</body>
</html>


