body
{
   background-image: url( ../img/desk_back.png );
   background-repeat: no-repeat;
   background-size: 95%;
   background-position: 50% 0%;
   background-color: #89c5cd;
   background-attachment: scroll;
   resize: none;
   overflow: scroll;s
}

#container 
{
   position: absolute;
   top: 65%; left: 42%;  
}

#container > div 
{
   display: flex;
   width: 300px;
   height: auto;
   justify-content: space-around;
   flex-direction: row;
}

#back_div
{
   position: absolute;
   top: 95%; left: 48%;
}

#bulb_div_1
{
   position: absolute;
   top: 10%; left: 75%;
}

#bulb_div_0
{
   position: absolute;
   top: 28%; left: 0.5%;
}

#clock_div
{
   position: absolute;
   top: 5%; left: 60%;
}