body
{
   background-image: url( ../img/desk_back.png );
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   overflow: hidden;
     
}

#container 
{
   position: absolute;
   top: 63%; left: 42%;  
}

#container > div 
{
   display: flex;
   width: 300px;
   height: auto;
   justify-content: space-around;
   flex-direction: row;
}

#bulb_div_1
{
   position: absolute;
   top: 9%; left: 68%;
}

#bulb_div_0
{
   position: absolute;
   top: 28%; left: -1%;
}

#clock_div
{
   position: absolute;
   top: 5%; left: 55%;
}

#door_div
{
   position: absolute;
   top: 50%; left: 86%;
}


