#main_div
{
    width: 100%;
    height: 100px;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    
}

body
 {
    margin: 0;
    padding: 0;
    background: #292929;

 }

.center
 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);